.skill-card{
    max-width: calc(90%/3);
    min-width: calc(90%/3);
    flex: 1;
    margin: 3em 5% 0em 0em; 
    font-size: 18px;
}

.skill-card:nth-child(3n){
    margin-right: 0px;
}


.skill-title{
    font-size: 22px;
    margin-bottom: 1em;
}

.skill-details{
    display: flex;
    flex-wrap: wrap;
}

.skill-details p{
    display: inline-block;
    background-color: #fdfdfd;
    color: #888;
    margin: 0em .5em .5em 0em;
    padding: .5em;
    font-size: 15px;
}

.skill-description{
    color: #888;
    margin-top: .5em;
    text-align: justify;
}

@media screen and (max-width: 767px){
    .skill-card{
        max-width: 100%;
        min-width: 100%;
        margin: 1.5em 0em 0em 0em;
    }
}